body {
  font-family: 黑体!important;
}

.page-content#tab4, .page-content#tab5 {
  padding-top: 0;
}

.footer-padding {
  height:56px;
}

#login_btn {
    font-size:20px;
}

.login-screen-content {
  padding: 24px;
}

#app .timeline-item-content {
  width: 100%;
}

#app .item-title-row {
  padding-right: 0px;
  background-image: none ;
}

.item-subtitle {
  color: #9b9b9b;
}

#logo {
  display: block;
  object-fit: cover;
  height: auto;
  width: 48%;
  margin: auto;
  padding: 24px;
  padding-top: 64px;
}

#app .navbar, #app .toolbar {
  background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
}

.login-screen-content .item-inner {
  padding-bottom: 24px;
}

#app .media-list {
  margin: 0;
}

.fab {
  margin-bottom: 63px;
}

#tab4 .navbar .navbar-inner {
  text-align: center;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#lost_and_found_select, .gridcenter {
  display: grid;
  align-items: center;
}

#lost_and_found_select button {
  height: 6rem;
}

.lost_and_found_report_popup textarea {
  border: aliceblue solid 0.5px;
  margin-bottom: 10px;
}

#countdown {
  text-align: center;
  font-size: 20px;
}

#countdown b {
  font-size: 22px;
}

.tools-icon {
  width: 23%;
  height: 24px;
  display: inline-grid;
  text-align: center;
}

#tab5 .tools-icon span {
  margin-left: 0;
}

#tab6 .gridcenter {
  height: 50%;
}

.profile {
  display: block;
  object-fit: cover;
  height: auto;
  width: 133px;
  margin: auto;
}

.col-50 .list ul:before, .col-50 .list ul:after {
  content: none;
}

.profile-list {
  margin: 2px;
}

#tab6 .button {
  border-radius: 0;
  background: white;
  border-color: white;
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 64px;
}

.bulletin_info_popup h2 {
  text-align: center;
}

.bulletin_info_popup p {
  font-size: 16px;
  white-space: pre-wrap;
  line-height: 30px;
  text-indent: 32px;
}
